/* 基本设置 */
:root {
  --primary-color: #007bff;
  --secondary-color: #555;
  --background-color: #f9f9f9;
  --text-color: #333;
  --light-text-color: #666;
  --hover-color: #0056b3;
  --card-background: #fdfdfd;
  --card-hover-background: #f0f8ff;
}

body {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* 导航栏样式 */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

#toggle-theme {
  border: none;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s ease;
}

#toggle-theme:hover {
  background-color: var(--hover-color);
}

/* 标题样式 */
header h1 {
  font-size: 2.5rem;
  color: var(--text-color);
}

header p {
  font-size: 1.2rem;
  color: var(--light-text-color);
}

/* 文章卡片样式 */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.card-text {
  color: var(--secondary-color);
}

/* 列表样式 */
.list-group-item {
  border: none;
  border-radius: 5px;
  background-color: var(--card-background);
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: var(--card-hover-background);
}

.list-group-item a {
  text-decoration: none;
  color: var(--text-color);
}

.list-group-item a:hover {
  color: var(--primary-color);
}

/* 页脚样式 */
footer {
  background-color: #f1f1f1;
  color: var(--light-text-color);
}

footer p {
  margin: 0;
}

/* 响应式布局 */
@media (max-width: 1355px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }
}